.about {
    margin: auto;
    margin-block: 3rem;
    padding: 5rem 3rem;
    background-color: white;
    width:35rem;
    border-radius: 1rem;
}

.presentation h1 {
    font-size: 7rem;
}

.presentation p {
    font-size: large;
}

.technology {
    padding: 2rem;
    border-bottom: 2px solid #8c52ff6d;
    border-radius: 2rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.technologies   {
    margin-block: 8rem;
}

.technologies .list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.technologies img {
    width: 5rem;
}

.checkout button    {
    transition: 200ms;
    cursor: pointer;
    padding: 1.5rem 10rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: 3px solid #8c52ff;
    background-color: #8c52ff;
    color: white;    
}

.checkout button:hover    {
    background-color: white ;
    color: #8c52ff;    
}